<div class="auth-form">
  <div>
    <label>Email:</label>
    <input type="email" name="username" />
  </div>

  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>

  <div>
    <input type="submit" value="Log In" />
  </div>
</div>