<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>

    <link rel="stylesheet" href="/public/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  </head>
  <body>
    {{{body}}}

    <script src="/public/javascripts/main.js"></script>
  </body>
</html>