<header>
  <div class="authentication">
    <a href="#" class="btn-login">Login</a>
    <a href="#" class="btn-logout">Logout</a>
  </div>

  <div class="user-info">
    User's Name
    <img src="http://placehold.it/75?text=Avatar" />
  </div>
</header>

<main>
  <form class="add-todo" >
    <input type="text" name="value" />
    <button onclick="addTodo()" type="submit">Add</button>
  </form>

  <div class="todo-list">
  </div>
</main>