<header>
  <div class="authentication">
    <a href="#" class="btn-login">Login</a>
    <a href="#" class="btn-logout">Logout</a>
  </div>

  <div class="user-info">
    User's Name
    <img src="http://placehold.it/75?text=Avatar" />
  </div>
</header>

<main>
  <div class="add-todo">
    <input type="text" />
    <button>Add</button>
  </div>

  <div class="todo-list">
    <div class="todo">
      <input type="checkbox" />
      <span class="editable-text">This is a todo item</span>
      <a href="#">X</a>
    </div>
    <div class="todo completed">
      <input type="checkbox" />
      <span class="editable-text">This is a toasdf sdf asdf asdf asdf asd fasdf asdf asdf asdf asdf do item</span>
      <a href="#">X</a>
    </div>
    <div class="todo">
      <input type="checkbox" />
      <span class="editable-text">This is a todo item</span>
      <a href="#">X</a>
    </div>
    <div class="todo">
      <input type="checkbox" />
      <span class="editable-text">This is a todo item</span>
      <a href="#">X</a>
    </div>
    <div class="todo">
      <input type="checkbox" />
      <span class="editable-text">This is a todo item</span>
      <a href="#">X</a>
    </div>
    <div class="todo">
      <input type="checkbox" />
      <span class="editable-text">This is a todo item</span>
      <a href="#">X</a>
    </div>
    <div class="todo">
      <input type="checkbox" />
      <span class="editable-text">This is a todo item</span>
      <a href="#">X</a>
    </div>
    <div class="todo">
      <input type="checkbox" />
      <span class="editable-text">This is a todo item</span>
      <a href="#">X</a>
    </div>
  </div>
</main>