<header>
  <div class="authentication">
  {{#if session}}
    <a href="/auth/logout" class="btn-logout">Logout</a>
  {{else}}
    <a href="/auth/login" class="btn-login">Login</a>
  {{/if}}
  </div>

  {{#if session}}
  <div class="user-info">
    {{session.user.email}}
    <img src="//www.gravatar.com/avatar/{{session.user.email_hash}}" />
  </div>
  {{/if}}
</header>

{{#if session}}
<main>
  <div class="add-todo" >
    <input type="text" name="value" />
    <button onclick="addTodo(); return false;">Add</button>
  </div>

  <div class="todo-list">
  </div>
</main>

<script src="/public/javascripts/main.js"></script>
{{/if}}