body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header .authentication, header .user-info {
  flex: 1;
}

h1 {
  font-family:'Yellowtail', cursive;
  text-align: center;
}

.btn-login{
  padding: 10px 15px;
  background: #4479BA;
  color: #FFF;
}

header .user-info {
  text-align: right;
}

main {
  width: 100%;
}

main .todo, main .add-todo {
  margin: auto;
  width: 300px;
  margin-top: 1.2em;
  display: flex;
  flex-direction: row;
}

main .todo input, main .todo a {
  flex: 1;
}

main .todo span {
  flex: 8;
  text-align: left
}

main .add-todo input {
  flex: 9;
}

main .todo.completed {
  text-decoration: line-through;
}

form .auth-form {
  width:220px;
  flex: 1;
  background-color: #eee;
  margin: 1.5em;
  padding: 2em 3em;
}









